

%nav-text-color{
  color: rgb(241, 89, 114);
}

body{
  margin: 0;
  background-color: rgb(70, 36, 36);
}
.box{
  background-color: f4f4f4;
  padding: 0;
  text-align: center;
}

nav{
  position: fixed;
}

.hero{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("images/hero-wallpaper.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1{
  font-size: 5em;
  margin: 0;
  margin-bottom: 0.5em;
  @extend %nav-text-color;
}

.hero h3{
  @extend %nav-text-color;
  font-size: 1.6em;
  margin: 0;
}
.nav-text{
  color: black;
  font-size: 1.2em;
}

#logo{
  height: 10vh;
  width: 7vw;
  margin-top: 5px;
}