
%background-color-main{
  background-color: rgb(70, 36, 36);
}
%nav-text-color{
  color: rgb(241, 89, 114);
}

body{
  margin: 0;
  @extend %background-color-main;
  font-weight: 900;
}

nav{
  position: fixed;
}

.hero{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./images/image.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1{
  font-size: 5em;
  margin: 0;
  margin-bottom: 0.5em;
  @extend %nav-text-color;
}

.hero h3{
  @extend %nav-text-color;
  font-size: 1.6em;
  margin: 0;
}
.nav-text{
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

#logo{
  height: 7vh;
  width: 5vw;
  margin-top: 1px;
}
.card-imgs{
  height: 40vh;
  width: 40vw;
}

h6{
  font-weight: bold;
}
.inner-card{
  background-color: rgb(226, 172, 181) !important;
}
.stat{
  background-color: rgb(245, 203, 126) !important;
}
.val{
  background-color: rgb(142, 189, 142) !important;
}